@import "../../global.scss";
.works {
  background-color: rgb(3, 102, 46);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 50px;
    position: absolute;
    @include mobile {
      height: 60px;
    }

    &.left {
      left: 100px;
      cursor: pointer;
      transform: rotate(180deg);
      @include mobile {
        top: 100px;
        left: 170px;
      }
    }
    &.right {
      right: 100px;
      cursor: pointer;
      @include mobile {
        bottom: 100px;
        left: 170px;
      }
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0vw;
    transition: all 1s ease;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .left {
          flex: 4;
          height: 100%;

          .leftContainer {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;

            h2 {
              font-size: 20px;
              margin: 15px 0;
            }

            p {
              font-size: -13px;
              margin: 10px 0;
            }

            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }

            .imgContainer {
              width: 40px;
              height: 40px;
              overflow: hidden;
              background-color: rgba(47, 188, 47, 0.774);
              padding: 10px;
              border-radius: 50%;

              img {
                width: 100%;
                height: 100%;
                // object-fit: cover;
              }
            }
          }
        }

        .right {
          flex: 8;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          img {
            width: 350px;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
